@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    @Styles.Render("~/css")



</head>
<body>
    <div class="mainMenu">
        <div class="@ViewBag.SiteName">
        @if (ViewBag.Menu != null)
        {
            foreach (WebSiteArchitect.WebModel.Base.WebControl control in ViewBag.Menu.Controls)
            {
                @CreateSimpleControl(control)
            }
        }
        @helper CreateSimpleControl(WebSiteArchitect.WebModel.Base.WebControl control)
        {
        <div id=@control.Id class="@control.ClassName">
            @switch (control.Type)
            {
                case WebSiteArchitect.WebModel.Enums.WebControlTypeEnum.button:
                    {
                        <div class="btn btn-default">
                            @{ 
                                string site = "";
                                string page = "";
                                if (control.GoTo.IndexOf("_") > -1)
                                {
                                    site = control.GoTo.Substring(0, control.GoTo.IndexOf("_"));
                                    page = control.GoTo.Substring(control.GoTo.IndexOf("_") + 1);
                                }
                            @Html.ActionLink(
                                         control.Value,
                                         "Index",
                                         "Home",
                                         routeValues: new
                                         {
                                             site = site,
                                             page = page
                                         },
                                         htmlAttributes: null
                                     )
                                }
                        </div>
                        break;
                    }
                case WebSiteArchitect.WebModel.Enums.WebControlTypeEnum.emptySpace:
                    {
                        break;
                    }
                case WebSiteArchitect.WebModel.Enums.WebControlTypeEnum.panel:
                    {
                        if (control.ChildrenControls != null)
                        {
                            for (int i = 0; i < control.ChildrenControls.Count; i++)
                            {
                                @CreateSimpleControl(control.ChildrenControls[i]);
                            }
                        }
                        break;
                    }
                 case WebSiteArchitect.WebModel.Enums.WebControlTypeEnum.label:
                    {
                        <p>
                            @control.Value
                        </p>
                        break;
                    }
                case WebSiteArchitect.WebModel.Enums.WebControlTypeEnum.image:
                    {
                        var source ="/Content/Images" +   control.Value.Substring(control.Value.LastIndexOf("/"));
                        <img src="@source" />
                        break;
                    }
            }
        </div>
}
       </div>
    </div>
    <div class="container body-content mainContainer">
        @RenderBody()
    </div>


    @Scripts.Render("~/js")
    <script>
        SetRowElementsHeight();
    </script>


</body>
</html>
