@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    @Styles.Render("~/css")



</head>
<body>
    <header class="mainHeader">
        <div class="container">
            <a id="logo"></a>
        </div>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="col-md-4">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="col-md-4">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="col-md-4">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container body-content mainContainer">

        @RenderBody()
    </div>

    <footer class="mainFooter">
        <div class="container">
            <span>Praca Inżynierska Michał Suchorzyński</span>
        </div>
    </footer>

    @Scripts.Render("~/js")



</body>
</html>
